@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/

/* Reset */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html {
    font-size: 62.5%;   
  }
  
  body {    
    margin: 0 auto;
    max-width: 1250px;
    font-size: 1.6rem;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: transparent; 
    border-left: 1px solid grey;
    border-right: 1px solid grey;   
  }

.header{
    background-color: var(--gray);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%; 
    
}
/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--gray);
    overflow: hidden;
    z-index: 9999;
 

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Style label tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
.side-menu {
    display: none;
} /* Hide checkbox *

/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }
}

/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    width: 130px;
    padding: 4px 0;
    margin-left: 10px;
}

.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}
/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} 

/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }
}
/* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
.side-menu {
    display: none;
} 

/* Hide checkbox */




/**Navbar**/
.navbar {
    height: 90px;
    width:100%;
    max-width: 1250px;
    position: fixed;
}

.navbar-brand {
    width: 150px;
}

.navbar-brand img{
    width: 80%;
    padding-left: 5px;
}


.navbar-menu {
    border: 2px solid orange;  
}

.navbar-start{
    border: 2px solid greenyellow;
    width: 100%;  display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-item, .dropdown-item {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 0 0.7rem;
    width: 150px;
}

.navbar-item-span, .dropdown-item {
    font-size: 14px;
     text-transform: none;
     letter-spacing: 1px;
     height: 20px;
}

.navbar-item:hover, .dropdown-item:hover {
    border-bottom: 3px solid #1680BC;
}

@media (max-width: 900px) {
  #buttonLink {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}

.navbar-dropdown, .dropdown-menu{
    width: 270px;
}

#buttonLinkMore {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}

@media (max-width: 900px) {
  #buttonLinkMore {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-top: -4px;
  }
}

#iconDropDown {
  color: #1680bc;
  font-size: 30px;
}
#buttonToggle {
  text-transform: uppercase;
  padding: 5px 15px;
}

.nested.dropdown:hover > .dropdown-menu {
  display: block;
}
.nested.dropdown .dropdown-menu {
  top: -12px;
  margin-left: 100%;
}

.nested.dropdown .dropdown-trigger button {
  padding: 0 0;
  border: 0;
  font-size: 14px;
  font-weight: 400;  
}

button {
  padding: 0 0;
  border: 0;
  font-size: 14px;
  font-weight: 400;
  height: 2em;
}

.inNavbar {
  display: block;
  width: 200px;
}

#buttonLinkMoreItem {
  letter-spacing: 0;
  font-size: 14px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

#access {
  height: 50px;
  background-color: red;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

#accessibleIcon {
  font-size: 32px;
  padding: 5px 5px;
  cursor: pointer;
}

#accessibleIconButton {
  margin-right: 5px;
  background-color: #f8f9fa;
  border: 2px solid transparent;
}

#accessibleIconButton:focus,
#accessibleIconButton:active {
  border-color: red;
  border-style: dotted;
}

#accessibleIconButton:hover {
  color: #1680bc;
}


/**Hero**/
.hero {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto 0 auto;
}

.hero-body {
    background: url('../assets/hero.jpg') fixed no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 700px;
}

#title {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

.wrapperHero {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    margin: 30px auto;
}

.heroTextWrapper {
    bottom: 0;
    left: 0;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    opacity: 1;
    transition: opacity 0.5s;
    background:#436fa9bd;
    color: white;
}

@media only screen and (max-width: 600px) {
    .heroTextWrapper {
        margin-top: -40px;
        font-size: 0.8em;
        height: 60%;
    }
    .hero-body {
        background: none;
    }
}

@media only screen and (min-width: 600px) {
    .hero-body {
        background: url('../assets/hero.jpg') fixed no-repeat;
        background-position: -10px -300px;

    }
}

@media only screen and (max-width: 1024px) {
    .heroTextWrapper {

        width: 100%;
        text-align: center;
    }
    .hero-body {
        background-position: -20px -250px;
        background-repeat: no-repeat;
    }
}
@media only screen and (min-width: 900px) {
    .heroTextWrapper {
        font-size: 1.2em;
    }

}


@media only screen and (min-width: 1024px) {
    .heroTextWrapper {
        font-size: 1.5em;
    }
    .hero-body {
        background-position: -20px -250px;
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-body {
        background-position: -20px -250px;
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 1250px) {
    .hero-body {
        background-size: cover;
        display: block;
        width: 100%;
        height: 700px;
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 1600px) {
    .hero-body {
        background-position: 70px -350px;
    }
}

@media only screen and (min-width: 1900px) {
    .hero-body {
        background-position: 70px -500px;
    }
}

@media only screen and (min-width: 2000px) {
    .hero-body {
        width: 100%;
        max-width: 1250px;
        height: 400px;
        margin: 80px auto 0 auto;
        background: rgb(218, 218, 218);
        background: linear-gradient(
                0deg,
                rgba(218, 218, 218, 1) 0%,
                rgba(241, 241, 241, 1) 33%,
                rgba(255, 255, 255, 1) 100%
        );
    }
    .heroTextWrapper {
        background: transparent;
    }
    #title,
    #subtitle {
        background: transparent;
        color: #818181;
    }
}
/**Blog**/
#news{
   max-width: 1250px;
   width: 100%;
   margin: 0 auto; 
}

  #wrapper {
      display: block;
      max-width: 1250px;
      margin: 0 auto;
      width: 100%;
  }

  #menuVertical {
      margin: 30px 0;
  }
 .mainWrapper {
     display: grid;
     max-width: 1250px;
     margin: 0 auto;
 }

 .wrapperNotice {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     width: 100%;
     column-gap: 20px;
     row-gap: 30px;
 }
  .buttonLink {
      color: white;
      text-decoration: none;
  }
  .buttonLink:hover {
      text-decoration: none;
  }
  .buttonMore {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px auto;
      width: auto;
      cursor: pointer;
      border-radius: 20px;
      border: none;
      font-weight: bold;
      font-size: 22px;
      padding: 20px 58px;
      text-transform: uppercase;
      transition: ease-in 0.16s;
      background-color: #b6cc37;
      color: white;
  }

  .buttonMore:hover {
       color: black;
       border: 1px solid #b6cc37;
       text-decoration: none;
   }

  hr {
      background-color: rgba(0,0,0,0.12);
      border: none;
      height: 1px;
      margin: 0;
  }
  img {
      height: auto;
      width: 100%;
  }
  textarea {
      background: transparent;
      border: 0;
      font-family: Roboto, Arial, sans-serif;
      margin: 0;
      outline: none;
      padding: 0;
      position: relative;
      resize: none;
      top: 11px;
      word-wrap: break-word;
  }
  [class^='col-'] {
      float: left;
      padding: 0 0.5%;
  }
  h1 {
      font-size: 96px;
      font-weight: 300;
      letter-spacing: -1.5px;
  }
  h2 {
      font-size: 60px;
      font-weight: 300;
      letter-spacing: -0.5px;
  }
  h3 {
      font-size: 48px;
      font-weight: 400;
      letter-spacing: 0;
  }
  h4 {
      font-size: 34px;
      font-weight: 400;
      letter-spacing: 0.25px;
  }
  h5 {
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 0;
  }
  h6 {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.15px;
  }
  .subtitle-01 {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.15px;
  }
  .subtitle-02 {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.1px;
  }
  .body-01 {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.5px;
  }
  .body-02 {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.25px;
  }
  .caption {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.4px;
  }
  .overline {
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 1.5px;
      text-transform: uppercase;
  }
  .button {
      background-color: transparent;
      border: none;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      color: inherit;
      cursor: pointer;
      display: inline-block;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.75px;
      line-height: 36px;
      min-width: 64px;
      padding: 0 8px;
      text-align: center;
      text-transform: uppercase;
  }
  .button, .action-icon {
      -webkit-transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
      transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
  }
  .button--raised {
      -moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      -o-transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
      -webkit-transition: 0 .28s cubic-bezier(.4, 0, .2, 1);
      transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1), 0 .28s cubic-bezier(.4, 0, .2, 1);
  }
  .button--raised:focus, .button--raised:hover {
      -moz-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
      -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
      box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  }
  .button--purple {
      background-color: #6200EE;
      color: #fff;
  }
  .button:hover, .action-icon:hover {
      background-color: rgba(158,158,158,0.2);
  }
  .button:active, .action-icon:active {
      background-color: rgba(158,158,158,0.4);
  }
  .button:focus:not(:active), .action-icon:focus:not(:active) {
      background-color: rgba(0,0,0,.12);
  }
  .button[disabled] {
      color: rgba(0,0,0,.26);
      cursor: default;
  }
  .button[disabled]:hover {
      background: none;
  }
  .action-buttons, .action-icons {
      display: inline-block;
      vertical-align: middle;
  }
  .action-icon {
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      box-sizing: border-box;
      cursor: pointer;
      margin: 0 2px;
      outline: none;
      padding: 6px;
  }
  .action-icons {
      color: rgba(0,0,0,0.54);
  }
  .actions {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      min-height: 52px;
      padding: 8px;
      position: relative;
      z-index: 1;
  }
  /** Card**/
  .cardHeader{
      padding: 5px 5px;
  }

  .avatarWrapper{
      padding: 10px;
  }

  .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      width:50px;
      height:50px;
      border-radius: 50px;
      color: white;
      font-size:20px;
  }

  .headerCard {
      display: flex;
      justify-content: left;
      align-items: center;
      height: 70px;
  }


 .titleCard {
     font-size: 18px;
      font-weight: 600;
      padding-left: 15px;
      color: black;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     width: 220px;
  }


 .subheaderData{
      padding-left: 15px;
  }


  .subtitleCard{
      color: black;
      font-weight: 600;
      padding: 10px 0 10px 16px;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp:2;
      -webkit-box-orient: vertical;
      height:60px;
      text-align: left;
      margin:15px 0;

  }


  .paragraphFirst{
      font-size: 14px;
      padding: 10px 0 10px 16px;
      height:160px;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp:7;
      -webkit-box-orient: vertical;
  }


 .paragraph{
      font-size: 14px;
      padding: 10px 0 10px 16px;}


 .linkWrapper{
      padding-left: 15px;
      font-weight: 600;}




  .footerTitle{
      padding-left: 15px;
      font-weight: 600;}

  .root2 {

      background-color: yellow;
      max-width: 100%;
      min-height:580px;
      height: auto;
      transition: .3s;
  }

  .root2:hover{
      scale: 2;
  }

 .avatar {
      background-color: #637201;
  }

  .root {

      max-width: 100%;
      min-height:580px;
      height: auto;
      transition: .3s;
      background-color: #fff;
  }



  .root:hover {
      scale: 1.01;
  }



  /**NaviAsideVertical**/
.asideMenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  width:100%;
   max-width: 1250px;
   margin: 50px auto; 
   border: 2px solid red;
}

@media only screen and (max-width: 600px) {
  .asideMenu {
    grid-template-columns: 1fr;
    padding: 0 2px;
  }
}

@media only screen and (min-width: 600px) {
  .asideMenu {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 2px;
    column-gap: 5px;
    width: 100%;
  }
}

.buttonNaviAside {
  color: white;
  text-decoration: none;
}

.buttonNaviAsideContrast {
  color: black;
  text-decoration: none;
  background-color: #ffff00;
}

.buttonNaviAside:hover {
  color:black;
}

.iconMenu {
  margin: -2px 10px 0 0;
}
.wrapperAsideMenuItem {
    display: flex;
    justify-content: center;
    align-items: center;
      height: 80px;
      margin: 0.3rem 0;
      padding: 0 0.5rem;
      width: 100%;
      background-color: #6d7e00;
      text-transform: uppercase;
      color: #fff;
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      font-weight: 600;
      border: 2px solid red;
      border-radius: 10px;
}

.wrapperAsideMenuItemContrast{
  height: 80px;
  margin: 0.3rem 0;
  padding: 0 0.5rem;
  width: 100%;
  background-color: #ffff00;
  text-transform: uppercase;
  color: black;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.wrapperAsideMenuItem:focus{
  border: 2px solid darkblue;
}


/**BreakSection**/
.breakSection, .breakSectionTop{
   max-width: 1250px;
   width: 100%;
   margin: 0 auto 80px auto; 
}
.wrapperBreakLine {
  display: grid;
  margin: 90px 0 30px 0;
  height: 80px;
  
}

.wrapperItemLeft {
  grid-column-start: 1;
  grid-column-end: 7;
  margin: 5px 0;
}
  .wrapperItemCentral {
  grid-column-start: 7;
  grid-column-end: 9;
}

.wrapperItemRight {
  grid-column-start: 9;
  grid-column-end: 15;
  margin: 5px 0;
}

.wrapperText {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #5b5b5b;
  letter-spacing: 0.2rem;
}


/**Partners**/
.partnersWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  width: 100%;
  height: 290px;
  margin: 0 auto 80px auto;
  border: 2px solid red;
}

@media only screen and (max-width: 600px) {
 .partnersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .partnersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 10px;
    row-gap: 10px;
  }
}

@media only screen and (min-width: 900px) {
  .partnersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .partnersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
}

@media only screen and (min-width: 1250px) {
 .partnersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    width: 100%;
    margin: 0 auto;
    max-width: 1250px;
  }
}

.partnersWrapperItem {
  display: grid; 
  height: 100%;
  width: 100%; 
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.partnersWrapperItemPhoto {
  display: block;
  transition: 1s;
  max-height: 150px;  
  cursor: pointer;
}

.partnersWrapperItemPhoto:hover {
  border: 2px dashed #9CB53A;
  padding: 5px 5px;
}


/**Footer**/
#footer {
     width: 100%;
    margin: 80px auto 0 auto;
    border: 2px solid blue;  
}
.wrapperFooter {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    background-color: rgb(218, 218, 218);
    background: linear-gradient(
           0deg,
           rgba(218, 218, 218, 1) 0%,
           rgba(241, 241, 241, 1) 33%,
           rgba(255, 255, 255, 1) 100%
    );    
}

.wrapperFooterContrast{
    background-color: #FFFF00;
}

.wrapperWidget {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30% 40% 30%;
    border: 2px solid green;
    padding-top: 30px;
}

.widgetLeft {
    display: flex;
    align-items: center;
    border: 2px solid red;
    margin-left: -20px;   
}

.footerPhoto {
    display: block;
    margin: 0 auto;
    width: 90%;
    border: 2px solid red;

}

.widgetCenter {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin: 1rem 0;
}

.widgetRight {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem 0;
    align-self: start;
}

.copyright {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.copyrightTitle {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.copyrightSubtitle {
    text-align: center;
}

#widgetBottom {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    width: 100%;
}

#widgetBottomLeft {
    justify-self: start;
    margin-left: 15px;
}

#widgetBottomRight {
    justify-self: end;
    margin-right: 15px;
}

.greyText {
    color: #767676;
    font-size: small;
}

.widgetBottomText {
    text-align: right;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding-right: 2rem;
    margin-bottom: 1.5rem;
}

.widgetTitle {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1.5rem 0;
    height: 3rem;
}

.widgetIcon {
    margin: -5px 0.5rem 0 0;
    padding-top: 5px;
    color: #1680bc;
    font-size: 15px;
}

.widgetIconSpan {
    display: inline-block;
    align-items: flex-start;
    margin-bottom: 0.2rem;
    margin-top: -20px;
}

.widgetListItem {
    margin: 0.4rem 0;
}

.linkFooter {
    color: black;
    text-decoration: none;
}

.linkFooter:hover {
    color: #1680bc;
}

.buttonTrue {
    background-color: #ffff00;
}

.buttonFalse {
    background-color: white;
}

@media (max-width: 960px) {
    .wrapperWidget {
        grid-template-columns: 1fr;
        row-gap: 8px;
    }
    .widgetCenter,
    .widgetRight,
    .widgetBottomText {
        text-align: center;
    }
    .widgetLeft {
        display: block;
        margin: 0 auto;
        width: 60%;
    }
}

@media (max-width: 600px) {
    .wrapperWidget {
        grid-template-columns: 1fr;
        row-gap: 8px;
    }
    .widgetCenter,
    .widgetRight,
    .widgetBottomText {
        text-align: center;
    }
    .widgetLeft {
        display: block;
        margin: 0 auto;
        width: 70%;
    }
}

@media only screen and (min-width: 900px) {
    .wrapperWidget {
        grid-template-columns: 1fr;
        row-gap: 8px;
    }
    .widgetCenter,
    .widgetRight,
    .widgetBottomText {
        text-align: center;
    }
    .widgetLeft {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .widgetLeft {
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 1024px) {
    .wrapperFooter {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 1250px;
        margin: 80px auto 0 auto;
        background: rgb(218, 218, 218);
        background: linear-gradient(
                0deg,
                rgba(218, 218, 218, 1) 0%,
                rgba(241, 241, 241, 1) 33%,
                rgba(255, 255, 255, 1) 100%
        );
    }
    .wrapperWidget {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 30% 40% 30%;
    }

    .widgetCenter,
    .widgetRight,
    .widgetBottomText {
        text-align: left;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapperWidget {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 30% 40% 30%;
    }

    .widgetCenter,
    .widgetRight,
    .widgetBottomText {
        text-align: left;
    }
    .widgetLeft {
        display: flex;
        align-items: center;
    }
}

.widgetRightList, .widgetCenterList {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    border: 2px solid orange;
}

.widgetRightList ul, .widgetCenterList ul {
    border: 2px solid red;
    width: 100%;
    list-style-type: none;
}